In [1]:
import pandas as pd

In [20]:
df=pd.read_csv("deneme1.csv",sep=";")

In [21]:
df

   id  student_id    name  surname  location
0   1      432454   Ahmet    Cevik  Istanbul
1   2      435243     Ali   Yilmaz    Ankara
2   3      894795   Feyza  Testere  Istanbul
3   4      764282  Mehmet   Varsiz     Adana
4   5      554645   Zehra    Gunes   Karabuk

In [6]:
students=[
    {"name":"Ahmet","surname":"Cevik","email":"ahmet@gmail.com"},
    {"name":"Mehmet","surname":"Varsiz","email":"mehmet@gmail.com"}
]

In [14]:
df=pd.DataFrame(students)

In [15]:
df

     name surname             email
0   Ahmet   Cevik   ahmet@gmail.com
1  Mehmet  Varsiz  mehmet@gmail.com

In [17]:
students={
    "name":["Ahmet","Mehmet","Ali"],
    "surname":["Cevik","Varsiz","Yilmaz"],
    "email":["ahmet@gmail.com","mehmet@gmail.com","ali@gmail.com"]
}

In [18]:
df=pd.DataFrame(students)

In [19]:
df

     name surname             email
0   Ahmet   Cevik   ahmet@gmail.com
1  Mehmet  Varsiz  mehmet@gmail.com
2     Ali  Yilmaz     ali@gmail.com