In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("deneme1.csv",sep=";")

In [3]:
df

   id  student_id    name  surname  location
0   1      432454   Ahmet    Cevik  Istanbul
1   2      435243     Ali   Yilmaz    Ankara
2   3      894795   Feyza  Testere  Istanbul
3   4      764282  Mehmet   Varsiz     Adana
4   5      554645   Zehra    Gunes   Karabuk

In [4]:
students=[
    {"name":"Ahmet","surname":"Cevik","email":"ahmet@gmail.com"},
    {"name":"Mehmet","surname":"Varsiz","email":"mehmet@gmail.com"}
]

In [5]:
df=pd.DataFrame(students)

In [6]:
df

     name surname             email
0   Ahmet   Cevik   ahmet@gmail.com
1  Mehmet  Varsiz  mehmet@gmail.com

In [7]:
students={
    "name":["Ahmet","Mehmet","Ali"],
    "surname":["Cevik","Varsiz","Yilmaz"],
    "email":["ahmet@gmail.com","mehmet@gmail.com","ali@gmail.com"]
}

In [8]:
df=pd.DataFrame(students)

In [9]:
df

     name surname             email
0   Ahmet   Cevik   ahmet@gmail.com
1  Mehmet  Varsiz  mehmet@gmail.com
2     Ali  Yilmaz     ali@gmail.com

In [10]:
df['surname']

0     Cevik
1    Varsiz
2    Yilmaz
Name: surname, dtype: object

In [11]:
type(df['surname'])

pandas.core.series.Series

In [12]:
df[['name','surname']]

     name surname
0   Ahmet   Cevik
1  Mehmet  Varsiz
2     Ali  Yilmaz

In [13]:
df.columns

Index(['name', 'surname', 'email'], dtype='object')

In [14]:
list(df.columns)

['name', 'surname', 'email']

In [15]:
df.columns.tolist()

['name', 'surname', 'email']

In [18]:
df['email']

0     ahmet@gmail.com
1    mehmet@gmail.com
2       ali@gmail.com
Name: email, dtype: object

In [19]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [20]:
df.iloc[1]

name                 Mehmet
surname              Varsiz
email      mehmet@gmail.com
Name: 1, dtype: object

In [21]:
df.iloc[2]['name']

'Ali'

In [22]:
df.loc[1]

name                 Mehmet
surname              Varsiz
email      mehmet@gmail.com
Name: 1, dtype: object

In [25]:
df.index=df.index+5

In [26]:
df

      name surname             email
10   Ahmet   Cevik   ahmet@gmail.com
11  Mehmet  Varsiz  mehmet@gmail.com
12     Ali  Yilmaz     ali@gmail.com

In [27]:
df.iloc[1]

name                 Mehmet
surname              Varsiz
email      mehmet@gmail.com
Name: 11, dtype: object

In [28]:
df.loc[1]

KeyError: 1

In [29]:
df.loc[10]

name                 Ahmet
surname              Cevik
email      ahmet@gmail.com
Name: 10, dtype: object

In [30]:
df.shape

(3, 3)